.home {
	text-align: center;
	background-color: #0c051a;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	color: #ffffff;
}
.home p {
	font-size: 20px;
	font-weight: 600;
}
.home p span {
	color: #725ac1;
}

.home-header {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.home-header img {
	pointer-events: none;
}

.scaffolder-logo {
	height: 30vmin;
}

.react-logo {
	height: 15vmin;
}

@media (prefers-reduced-motion: no-preference) {
	.react-logo {
		animation: home-logo-spin infinite 20s linear;
	}
}

@keyframes home-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
