{
    "name": "express backend",
    "version": "1.0.0",
    "dependencies": {
      "express": "^17.0.2",
      "express-dom": "^17.0.2"
    },
    "devDependencies": {
      "webpack": "^5.36.2",
      "babel-loader": "^8.2.2"
    },
    "scripts": {
      "start": "webpack serve --mode development",
      "build": "webpack --mode production"
    }
  }
  