<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scaffolder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/static/assets/logo.svg">
    <script>
        const maxContentLength = {{ data.maxContentLength }};
        const supported_stuff = {{ data.supported_stuff| tojson}};
    </script>
</head>

<body>
    <main>
        <div class="container">
            <header>
                <nav>
                    <img src="../static/assets/scaffolder.svg" alt="scaffolder logo">
                </nav>
                <div class="line"></div>
            </header>
            <section class="main-section">
                <div class="left-section">
                    <div class="header">
                        <div>
                            <h1>Let’s Scaffold together</h1>
                            <p>Empower your team's creativity and efficiency<br>with Project Scaffolder</p>
                        </div>
                        <select name="status" id="status" onchange="changeLayout(this.value)">
                            <option value="scaffold" selected>Scaffold</option>
                            <option value="contribute">Contribute</option>
                        </select>
                    </div>
                    <div class="contribute">
                        <p class="contribute-desc">Contribute to our library of different frameworks and programming
                            languages to help other users out. You can also use this template later on as you like.</p>
                        <p class="contribute-desc"> Firstly import and existing project (make sure it is in zip file
                            format) and copy the output json.</p>
                        <p class="contribute-desc">You can add Jinja variables such as the ones in existing templates if
                            you want to enable dynamic templating. Make sure to submit a pull request after creating.
                            Happy coding! </p>
                        <form id="upload-form" action="/api/upload" method="post" enctype="multipart/form-data">
                            <div class="file-upload-wrapper">
                                <input id="file-input" class="file-upload-input" type="file"
                                    accept="{{allowedUploadExtensions}}" name="file" onchange="" style="display: none;">
                                <div id="error-message" class="error"></div>
                            </div>
                        </form>
                        <button class="import-btn"
                            onclick="document.getElementById('file-input').click()">Import</button>
                    </div>
                    <div class="scaffold">
                        <form class="scaffold-form" onsubmit="handleSubmit(event)">
                            <input type="text" name="project_name" placeholder="Project Name" id="project-name"
                                required>
                            <div class="github">
                                <input type="text" name="username" placeholder="GitHub Username" id="github-username">
                                <input type="password" name="api_key" placeholder="GitHub Api Key" id="github-api-key">
                            </div>
                            <select required id="frontend" name="frontend" onchange="toggleDependencies(this)">
                                <option value="" disabled selected hidden>Front-End</option>
                                <option value="none">None</option>
                                {% for framework in data.supported_stuff.frontend %}
                                <option value={{framework}}>{{ framework }}</option>
                                {% endfor %}
                            </select>
                            <div id="frontend-deps">
                            </div>
                            <div class="backend">
                                <select required id="backend" name="backend" onchange="toggleDependencies(this)">
                                    <option value="" disabled selected hidden> Back-End</option>
                                    <option value="none">None</option>
                                    {% for framework in data.supported_stuff.backend %}
                                    <option value={{framework}}>{{ framework }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="backend-deps">
                            </div>
                            <div class="cont">
                                <input type="checkbox" name="containerization" id="containerization">
                                <label for="containerization">Containerization</label>
                            </div>
                            <button type="submit" id="export">Export</button>
                        </form>
                    </div>
                </div>
                <div class="right-section">
                    <div class="contribute-section contribute">
                        <div class="contribute-section-cont">

                        </div>
                        <button class="copy" onclick="copyProjectToClipboard()">Copy <i
                                class="fa-solid fa-copy"></i></button>
                    </div>
                    <div class="chat-section scaffold">
                        <div class="chat-content"></div>
                        <div class="chat-input">
                            <input type="text" placeholder="How can I help you?">
                            <button type="button"><i class="fa-solid fa-paper-plane"></i></button>
                        </div>
                    </div>

                </div>
        </div>
        </section>
        </div>
        <footer>
            <a href="https://github.com/The-Programming-Collective/Project-Scaffolder" target="_blank">
                <img src="../static/assets/github-mark-white.svg" alt="github mark">
            </a>
            <span></span>
            <span></span>
            <p>&copy; 2024 The Programming Collective</p>
            <p class="grad">This is a graduation project done by students at Cairo University <br>
                <span>Supervised by Dr. Sabah Sayed</span>
            </p>
        </footer>
    </main>
    <script>
        const avatarUrl = "{{ url_for('static', filename='assets/Chat Avatar.svg') }}";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>