<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scaffolder</title>
    <link rel="icon" href="/assets/logo.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <main>
        <div class="container">
            <header>
                <nav>
                    <img src="../static/assets/scaffolder.svg" alt="scaffolder logo">
                </nav>
                <div class="line"></div>
            </header>
            <section class="main-section">
                <div class="left-section">
                    <div class="header">
                        <div>
                            <h1>Let’s Scaffold together</h1>
                            <p>Empower your team's creativity and efficiency<br>with Project Scaffolder</p>
                        </div>
                        <select name="status" id="status" onchange="changeLayout(this.value)">
                            <option value="scaffold" selected>Scaffold</option>
                            <option value="contribute">Contribute</option>
                        </select>
                    </div>
                    <div class="contribute">
                        <p class="contribute-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione
                            vitae
                            aspernatur consectetur.
                            Voluptas corporis eligendi ea asperiores temporibus, nam cum illo beatae nemo iusto alias
                            dignissimos odio eveniet ipsa repudiandae quaerat placeat dolor magnam, est vitae quidem
                            incidunt ipsum vero! A quasi libero sit culpa iusto? Distinctio quam doloremque nobis!</p>
                        <form id="upload-form" action="/api/upload" method="post" enctype="multipart/form-data">
                            <div class="file-upload-wrapper">
                                <input id="file-input" class="file-upload-input" type="file"
                                    accept="{{allowedUploadExtensions}}" name="file" onchange="" style="display: none;">
                                <div id="error-message" class="error"></div>
                            </div>
                        </form>
                        <button class="import-btn"
                            onclick="document.getElementById('file-input').click()">Import</button>
                    </div>
                    <div class="scaffold">
                        <form class="scaffold-form">
                            <input type="text" placeholder="Project Name" id="project-name">
                            <div class="github">
                                <input type="text" placeholder="GitHub Username" id="github-username">
                                <input type="password" placeholder="GitHub Api Key" id="github-api-key">
                            </div>
                            <div class="frontend">
                                <select id="frontend">
                                    <option value="" disabled selected>Front-End</option>
                                    <option value="react">React</option>
                                    <option value="vue">Vue</option>
                                    <option value="angular">Angular</option>
                                </select>
                                <select id="frontend-deps">
                                    <option value="" disabled selected>Dependencies</option>
                                    <option value="react">React</option>
                                    <option value="vue">Vue</option>
                                    <option value="angular">Angular</option>
                                </select>
                            </div>
                            <div class="backend">
                                <select id="backend">
                                    <option value="" disabled selected>Back-End</option>
                                    <option value="node">Node.js</option>
                                    <option value="django">Django</option>
                                    <option value="flask">Flask</option>
                                </select>
                                <select id="backend-deps">
                                    <option value="" disabled selected>Database</option>
                                    <option value="mysql">MySQL</option>
                                    <option value="postgresql">PostgreSQL</option>
                                    <option value="mongodb">MongoDB</option>
                                </select>
                            </div>
                            <div class="cont">
                                <input type="checkbox" name="containerization" id="containerization">
                                <label for="containerization">Containerization</label>
                            </div>
                            <button type="button" id="export">Export</button>
                        </form>
                    </div>
                </div>
                <div class="right-section">
                    <div class="contribute-section">
                        <div class="contribute-section-cont">
                            <div class="collapsible">
                                <div class="collapsible-header" onclick="toggleCollapse(this)">
                                    <span><i class="fa-solid fa-folder"></i>Lorem ipsum dolor sit amet</span>
                                </div>
                                <div class="collapsible-content">
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                </div>
                            </div>
                            <div class="collapsible">
                                <div class="collapsible-header" onclick="toggleCollapse(this)">
                                    <span><i class="fa-solid fa-folder"></i>Lorem ipsum dolor sit amet</span>
                                </div>
                                <div class="collapsible-content">
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                    <div class="item"><i class="fa-solid fa-file"></i>Lorem ipsum dolor sit aetam
                                        consectetur usemer</div>
                                </div>
                            </div>
                        </div>
                        <button class="copy">Copy <i class="fa-solid fa-copy"></i></button>
                    </div>
                    <div class="chat-section scaffold">
                        <div class="chat-content"></div>
                        <div class="chat-input">
                            <input type="text" placeholder="How can I help you?">
                            <button type="button"><i class="fa-solid fa-paper-plane"></i></button>
                        </div>
                    </div>

                </div>
        </div>
        </section>
        </div>
        <footer>
            <a href="https://github.com/The-Programming-Collective/Project-Scaffolder">
                <img src="../static/assets/github-mark-white.svg" alt="github mark">
            </a>
        </footer>
    </main>
    <script>
        const avatarUrl = "{{ url_for('static', filename='assets/Chat Avatar.svg') }}";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>