body {
  background-color: #497965;
  font-family: Space Grotesk;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
  background-image: radial-gradient(circle, #00000080 1px, transparent 1px);
  background-size: 10px 10px;
}

input {
  outline: none;
}

h1{
  align-items: center;
  display: flex;
  gap: 10px;
}

a{
  color: white;
  text-decoration-style: line;
  text-decoration-color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #2E4C3C;
  border-radius: 10px;
  width: 90%;
  max-width: 1200px;
  box-sizing: border-box;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.label {
  font-weight: bold;
}

.dropdown, .input-group input, .extraction input[type="text"] {
  padding: 10px;
  background-color: #6B9675;
  border: none;
  border-right: 10px solid transparent;
  border-radius: 5px;
  color: white;
  font-family: Space Grotesk;
  outline: none;
}

input{
  font-family: Space Grotesk;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
  background-color: #FFB86C;
  color: black;
  font-family: Space Grotesk;
}

.icon {
  width: 24px;
  height: 24px;
}

.chat-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.suggestions {
  flex: 1;
  padding: 10px;
  background-color: #1E3524;
  border-radius: 5px;
  overflow-y: auto;
}

.suggestion-item {
  background-color: #6B9675;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.description {
  display: flex;
  align-items: center;
}

.description input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6B9675;
  color: white;
}

.chat-input {
  display: flex;
  gap: 10px;
  align-items: center;
}

.chat-input input {
  font-size: large;
  flex: 1;
  height: 35px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}

.chat-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #1E3524;
  padding: 20px;
  border-radius: 10px;
}

.suggestions {
  flex: 1;
  padding: 10px;
  background-color: #1E3524;
  border-radius: 5px;
  overflow-y: auto;
}

.suggestion-item {
  background-color: #6B9675;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.send-button {
  padding: 10px;
  background-color: #FFB86C;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}

#red{
  background-color: #BC4B51;
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

.file-upload-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-upload-button {
  border: 2px solid #4CAF50;
  color: white;
  background-color: #4CAF50;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.file-upload-input {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.error {
  color: #BC4B51;
  font-weight: bold;
}