body {
  background-color: #15082b;
  font-family: 'Martel Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
  background-image: radial-gradient(circle, rgba(77, 21, 105, 0.502) 2px, transparent 1px);
  background-size: 20px 20px;
}

input {
  outline: none;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

h2 {
  margin: 0;
}

h3 {
  text-align: center;
  font-family: 'Martel Sans', sans-serif;
}

a {
  color: white;
  text-decoration-style: line;
  text-decoration-color: white;
}

p {
  margin: 0;
  cursor: pointer;
  color: white;
}

#logo {
  height: 50%;
  width: 50%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #0D051A;
  border-radius: 10px;
  width: 90%;
  max-width: 1200px;
  max-height: fit-content;
  box-sizing: border-box;
}

.tooltip {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

#container-file:hover ~ .tooltip,
label[for="container-file"]:hover ~ .tooltip {
  opacity: 1;
  visibility: visible;
}

.checkbox-container {
  position: relative;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.label {
  font-weight: bold;
}

.dropdown, .input-group input, .extraction input[type="text"] {
  padding: 10px;
  background-color: #292244;
  border: none;
  border-right: 10px solid transparent;
  border-radius: 5px;
  color: white;
  font-family: 'Martel Sans', sans-serif;
  outline: none;
}

input {
  font-family: 'Martel Sans', sans-serif;
}

.buttons {
  width: 100%;
  display: flex;
  gap: 10px;
}

.buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
  background-color: #725AC1;
  color: white;
  font-family: 'Martel Sans', sans-serif;
}

.icon {
  width: 24px;
  height: 24px;
}

.description {
  display: flex;
  align-items: center;
}

.description input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #725AC1;
  color: white;
}

.chat-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #0D051A;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid white;
  overflow: hidden;
  height: 100%;
}

.gemini-desc{
  display: flex;
  flex-direction: column;
  margin-top: -35px;
}

.gemini-chat {
  flex: 1;
  display: column;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #0D051A;
  width: 100%;
  height: 100%;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-message {
  align-self: flex-end;
  background-color: #725AC1;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.gemini-message {
  align-self: flex-start;
  background-color: #725AC1;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.chat-input {
  display: flex;
  gap: 10px;
  align-items: center;
}

.chat-input input {
  font-size: medium;
  flex: 1;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}

.send-button {
  height: 40px;
  padding: 10px;
  background-color: #725AC1;
  border: none;
  border-radius: 5px; /* Rounded edges */
  cursor: pointer;
  color: white;
}

#red {
  background-color: #BC4B51;
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

.file-upload-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-upload-input {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.error {
  color: #BC4B51;
  font-weight: bold;
}

.dependencies {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #725AC1;
  border-radius: 5px;
}

.dependency-item {
  border: #0D051A solid;
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: #725AC1;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
}

.dependency-item button {
  background-color: #0D051A;
  border: none;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
